.wrap{
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 667px;
    background-color: white;
}
.header{
    padding: 14px 0 0;
    background-color: #E8323F;
    line-height: 37px;
    color: aliceblue;
    height: 37px;
    text-align: center;
    width: 100%;
    font-weight: 800;
    border: none;

    .header_title{
      
        position: relative;
        font-size: 20px;

        .anticon-left{

            svg{
                font-size: 20px;
                font-weight: 650;
                position: absolute;
                left:10px;
                top: 0px;
            }
        }

         .anticon-left{
             position: absolute;
             left: 0;
             top: 10px;
         }
    }
   
}

.login_and_btn{
    width: 100%;
    height: 120px;
    background-color:#E8323F;
    padding: 29px 25px 32px;
    color: aliceblue;
    font-size: 21px;



    img{
        width: 55px;
        height: 55px;
    }
    .login{
        margin-left: 10px;
    }
    span{
        line-height: 62px;
        display: inline-block;
    }
}

.ant-list-item{
    height: 50px;
    position: relative;

    
    .anticon-right{
        svg{
            color: #CACACA;
        }
    }
}
.nav_icon{
    height: 15px;
    position: absolute;
    top: 17px;
    left: 10px;
}
.nav_text{
    position: absolute;
    top: 14px;
    left: 43px;
}
.ant-list-item:first-child{
    border-top: 10px solid #F0F0F0;
    border-bottom: 10px solid #F0F0F0;
    height: 71px;
    
}

.ant-list-item:nth-of-type(5){
    border-bottom: 10px solid #F0F0F0;
    border-top: 10px solid #F0F0F0;
    height: 71px;
}
.will_login{
    position: absolute;
    top: 62px;
    left: 80px;
}
.u_name{
    margin-left: 10px;
}
.login_out{
    margin-left: 20px;
    position: absolute;
    width: 75px;
    top: 10px;
    left: 180px;

    img{
        height: 15px;
        width: 15px;
    }

    span{
        font-size: 14px;
    }
}